# Project exclude paths
/.gradle/
/build/
/build/js/packages/info_protection-task_1/kotlin/
/build/js/packages/info_protection-task_1-test/kotlin/
/task_1/build/
/task_1/build/classes/kotlin/jvm/main/
/task_1/build/classes/kotlin/jvm/test/